//Отображение "динамического" списка в ленте новостей 
#newsmenu, #newsmenu ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
#newsmenu li{
	list-style-type:none;
	background:#FFF;	
} 

#newsmenu > li >  a{
	padding:0px 0px;
	font-weight:bold;
}
#newsmenu li li{
	cursor:auto;
	border:0;
	padding:0 0px;
	background-color:#fff;
}
#newsbound{
	width:120px;
}